@model BackEnd.Entidades.Usuarios

@{
    ViewData["Title"] = "Usuarios";
}
<style>
    /* Estilos para el contenedor */
    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para los formularios */
    .form-group {
        margin-bottom: 15px;
    }

    /* Estilos para los botones */
    .btn {
        margin-right: 5px;
    }
</style>
<div class="container">
    <h1>Eliminar Usuario</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstaActivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstaActivo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-dark">Regresar</a>
        </div>
    </form>
</div>
